.bodyStuff{
background-color: wheat;}

.qrCode{
height: 50px;
width: 300px;
display: flex;
justify-content: center;
margin:auto;
border-radius: 25px;}

.urlInput{
text-align: center;
align-content: center;
padding: 0%;
height: 25px;
width: 400px;
display: flex;
justify-content: center;
margin:auto;
border-radius: 25px;
border-color: transparent;}

.buttonStuff{flex-wrap: wrap;}

.aStyle{
text-decoration: none;
font-family: Arial, Helvetica, sans-serif;
font-weight:500;
font-size: medium;
color: black;}
.aStyle:hover{
    font-weight: 200;
    font-size: large;
}